.hearor{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &::before{
        top: 110px;
        right: 10%;
        position: absolute;
        display: block;
        content:"";
        width: 350px;
        height: 500px;
        background: url("/img/phone3.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    &__card{
        margin:10% 0% 15% 0%;
        // border: 1px solid black;
        width: 422px;
        height: 345px;
        display: block;
        &__text{

            font-family: 'DM Serif Display';
            font-weight: 400;
            font-size: 60px;
            color:rgba(54, 83, 107, 1);
            width: 440px;
            height: 243px;
            line-height: 65px;
        }
        &__box{
            display: flex;
         width: 480px;
         height: 40px;   
        .form{
            display: flex;
            .input{
                width: 200px;
                height: 40px;
                border: white;
                border-radius: 50px;
            }
            .buttom{
                width: 180px;
                height: 40px;
                border: 1px solid black;
                text-decoration: none;
                align-items: center;
                justify-content: center;
                border-radius: 50px;
                background-color:rgba(186, 66, 112, 1);
                border: 1px solid rgba(186, 66, 112, 1);
                h4{
                    color: white;
                    align-items: center;
                    margin: 7px 0px 10px 30px;
                }
               }
        }
       
       

        }
        &__titel{
            font-family: 'Public Sans';
            width: 225px;
            height: 18px;
            color: rgba(108, 130, 148, 1);
            margin: 2% 0% 0% 4% ;
        }
    }
}
@media screen and (max-width: 769px){
    .hearor{
        width: 90%;
        display: block;
        align-items: center;
        justify-content: space-between;
        &::before{
            display: flex;
            top: 100px;
            right: 15%;
            left: 27%;
            position: absolute;
            display: block;
            content:"";
            width: 350px;
            height: 500px;
            background: url("/img/phone3.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
        &__card{
            
            margin:130% 20% 15% 20%;
            // border: 1px solid black;
            width: 350px;
            height: 345px;
            display: block;
            &__text{
    
                font-family: 'DM Serif Display';
                font-weight: 400;
                font-size: 60px;
                color:rgba(54, 83, 107, 1);
                width: 350px;
                height: 243px;
                line-height: 65px;
            }
            &__box{
                margin-top: 50px;
                display: flex;
             width: 400px;
             height: 40px;   
            .form{
                display: flex;
                .input{
                    width: 200px;
                    height: 40px;
                    border: white;
                    border-radius: 50px;
                }
                .buttom{
                    
                    width: 180px;
                    height: 40px;
                    border: 1px solid black;
                    text-decoration: none;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50px;
                    background-color:rgba(186, 66, 112, 1);
                    border: 1px solid rgba(186, 66, 112, 1);
                    h4{
                        color: white;
                        align-items: center;
                        margin: 7px 0px 10px 30px;
                    }
                   }
            }
           
           
    
            }
            &__titel{
                font-family: 'Public Sans';
                width: 225px;
                height: 18px;
                color: rgba(108, 130, 148, 1);
                margin: 2% 0% 0% 4% ;
            }
        }
    }
}
@media screen and (max-width: 481px){
    .hearor{
        width: 90%;
        display: block;
        align-items: center;
        justify-content: space-between;
        &::before{
            z-index: -1;
            display: flex;
            top: 100px;
            right: 15%;
            left: 15%;
            position: absolute;
            display: block;
            content:"";
            width: 350px;
            height: 500px;
            background: url("/img/phone3.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
        &__card{
            
            margin:160% 1% 15% 1%;
            // border: 1px solid black;
            width: 350px;
            height: 345px;
            display: block;
            &__text{
    
                font-family: 'DM Serif Display';
                font-weight: 400;
                font-size: 60px;
                color:rgba(54, 83, 107, 1);
                width: 350px;
                height: 243px;
                line-height: 65px;
            }
            &__box{
                margin-top: 50px;
                display: flex;
             width: 350px;
             height: 40px;   
            .form{
                display: flex;
                .input{
                    width: 150px;
                    height: 40px;
                    border: white;
                    border-radius: 50px;
                }
                .buttom{
                    
                    width: 180px;
                    height: 40px;
                    border: 1px solid black;
                    text-decoration: none;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50px;
                    background-color:rgba(186, 66, 112, 1);
                    border: 1px solid rgba(186, 66, 112, 1);
                    h4{
                        color: white;
                        align-items: center;
                        margin: 7px 0px 10px 30px;
                    }
                   }
            }
           
           
    
            }
            &__titel{
                font-family: 'Public Sans';
                width: 225px;
                height: 18px;
                color: rgba(108, 130, 148, 1);
                margin: 2% 0% 0% 4% ;
            }
        }
    }
}