.middle{
 
    // border: 1px solid black;
    width: 75%;
    height: 350PX;
    display: flex;
    flex-wrap: wrap;
    &::before{
        margin-top: 80px;
        display: block;
        content: "";
        width:50% ;
        height:300px;
        background:url("/img/RASIM7.png") ;
        background-size: 100% 100%;
    }
    &__box{
        margin-left:5%;
        width: 45%;
        display: block;
        // border: 1px solid black;
        &__titel{
            font-family:" DM Serif Display";
            margin: 32% 2% 1% 2%;
            font-weight: normal;
            color:  rgba(54, 83, 107, 1);
            font-size: 48px;
        }
        &__text{
            font-family: 'Public Sans';
            color:rgba(54, 83, 107, 1);
            margin: 0 2%;
        }

    }

}